@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#profile {
  width: 100%;
}

.name {
  font-family: "Baloo Paaji 2";
  color: #f8f5e6;
}

nav,
footer {
  background-color: #2ed3c6;
}

.navbar {
  color: #2ed3c6;
}

.label {
  width: 39px;
  height: 19px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.bxs-moon,
.bxs-sun {
  color: #eaa900;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.slider {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider::before {
  height: 19px;
  width: 19px;
  position: absolute;
  left: -0.3px;
  border-radius: 50%;
  background-color: #ffffff;
  content: "";
  transition: 0.4s;
}

.fotoSaya {
  width: 200px;
  height: 200px;
}

#phoneLabel {
  display: none;
}

@media (max-width: 768px) {
  #desktop {
    padding-bottom: 20px;
    position: relative;
    margin-top: 15px;
    right: 0;
    left: 0;
    margin-left: auto;
  }

  #education {
    text-align: center;
  }
}
